* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0b0b0b;
    color: #f2f2f2;
}

header {
    background: #000;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

header p {
    color: #aaa;
}

nav {
    background: #111;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff004c;
}

.hero {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 10px;
}

footer {
    background: #000;
    text-align: center;
    padding: 20px;
    color: #777;
}
